.d-flex {
    display: flex;
}

.w-33 {
    width: 33.33%;
}

.w-50 {
    width: 50%;
}

.align-center {
    align-items: center;
}

.custom-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 5%;
}

.light-grey-bg {
    background: #F9F9F9;
}

.pt-150 {
    padding-top: 150px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-150 {
    padding-bottom: 150px;
}

@font-face {
    font-family: BeVietnamPro;
    src: url(../font/BeVietnamPro-ExtraLight.ttf);
}

@font-face {
    font-family: BeVietnamProRegular;
    src: url(../font/BeVietnamPro-Regular.ttf);
}

@font-face {
    font-family: BeVietnamPro;
    src: url(../font/BeVietnamPro-Medium.ttf);
    font-weight: bold;
}

h1, h2, h3 {
    font-family: BeVietnamPro, sans-serif;
    line-height: 1.4;
}

.text-center {
    text-align: center;
}

.gap-60 {
    gap: 60px;
}

.banner-imgs {
    position: relative;
}

.fade-slide-in-animation {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.banner-imgs img:first-child {
    position: absolute;
    z-index: 2;
    bottom: -110px;
    right: 15%;
    animation-delay: 0.5s;
    width: 20%;
}

.banner-imgs img:nth-child(2) {
    position: absolute;
    left: -10%;
    top: -50px;
    animation-delay: 1s;
    width: 20%;
}

.banner-imgs img:nth-child(3) {
    position: absolute;
    right: 10%;
    top: -80px;
    animation-delay: 1.5s;
    width: 30%;
}

.banner-imgs img:nth-child(4) {
    position: absolute;
    bottom: -350px;
    left: -15%;
    animation-delay: 2s;
    width: 50%;
}

.banner-imgs img:nth-child(5) {
    position: absolute;
    right: -15%;
    bottom: -170px;
    animation-delay: 2.5s;
    width: 70%;
}

.banner-imgs img:last-child {
    position: relative;
    z-index: 1;
    animation-delay: 0s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fadeInUp {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.d-md-block {
    display: none;
}

.elementor a.underline-link {
    color: black;
    display: inline-block;
    font-family: BeVietnamProRegular;
}

.elementor a.underline-link:after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    display: inline-block;
    position: relative;
    bottom: 18px;
}

.m-0 {
    margin: 0;
}

.mr-10 {
    margin-right: 10px;
}

.mt-0 {
    margin-top: 0;
}

.mt-30 {
    margin-top: 30px;
}

.max-width-75 {
    max-width: 75%;
    margin: auto;
}

.font-4 {
    font-size: 4em;
    line-height: 1.5;
}

.black {
    color: #222733;
}

.vertical-bottom {
    vertical-align: bottom;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.sc_services_modern .sc_services_item .sc_button_arrow:before {
    content: '';
}

.p-20 {
    padding: 20px;
}

.d-md-flex {
    display: none;
}

.logo-mobile img {
    max-height: 35px;
}

.w-49 {
    width: 49%;
}

.gap-2 {
    gap: 2%;
}

.font1-5 {
    font-size: 1.5em;
}

.font2 {
    font-size: 2em;
}

.elementor-6817 .elementor-element-8885b09 .logo_image {
    max-height: 35px;
}

.slide-through-img {
    overflow: hidden;
}

.slide-through-img div {
    height: 500px;
    animation: example 15s linear infinite;
}

@keyframes example {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 100%;
    }
}

@media(max-width:1279px) {
    .elementor-6817 .elementor-element-8885b09 {
        padding: 10px 20px 10px 20px;
    }
}

@media(max-width:992px) {
    .custom-container {
        padding: 0 10%;
    }

    .pb-150 {
        padding-bottom: 100px;
    }

    .pt-150 {
        padding-top: 100px;
    }

    .banner-imgs img:nth-child(3) {
        top: -45px;
    }

    .banner-imgs img:first-child {
        bottom: -70px;
    }

    .font-4 {
        font-size: 3em;
    }

    .sc_skills img {
        max-width: 70px;
    }
}

@media(max-width:767px) {
    .d-md-flex {
        display: flex;
    }

    #cong-nghe .elementor-column .elementor-spacer-inner {
        height: 0;
    }

    .custom-container.d-flex,
    .sc_skills_counter.d-flex {
        flex-direction: column;
    }

    .w-50,
    .w-33 {
        width: 100%;
    }

    .w-33 {
        margin: 0 0 30px;
    }

    .banner-imgs img:nth-child(4) {
        bottom: -250px;
    }

    .banner-imgs img:first-child {
        bottom: -90px;
    }

    .sc_skills.pb-150 {
        padding-bottom: 0;
    }

    .sc_skills_counter.pb-100 {
        padding-bottom: 0;
    }

    .elementor-5002 .elementor-element.elementor-element-766f02d .elementor-widget-container,
    .elementor-5002 .elementor-element.elementor-element-44803e6,
    .elementor-5002 .elementor-element.elementor-element-34594ad,
    .elementor-8919 .elementor-element.elementor-element-7a950e3 .elementor-divider,
    .sc_layouts_item.elementor-element-9e7fcf5 {
        display: none;
    }

    .pt-150 {
        padding-top: 70px;
    }
}

@media(max-width:480px) {
    .banner-imgs img:nth-child(4) {
        bottom: -200px;
    }

    .elementor-5002 .elementor-element.elementor-element-7027c76>.elementor-element-populated.elementor-widget-wrap {
        padding: 0;
    }
}